################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/Code/Sandcastle/*.log
/docs-md
/Code/PropertyGridHelpersTest/coverage/
/Code/PropertyGridHelpersTest/CoverageReport/
