################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code/NuGet.Pack/bin
/Code/NuGet.Pack/obj
/Code/NuGet.Pack/*.user
/Code/NuGet.Pack/*.log
/Code/PropertyGridHelpers/bin
/Code/PropertyGridHelpers/obj
/Code/PropertyGridHelpers/*.user
/Code/PropertyGridHelpers/.cr
/Code/PropertyGridHelpers/.vs
/Code/PropertyGridHelpers/packages
/Code/PropertyGridHelpersTest/bin
/Code/PropertyGridHelpersTest/obj
/Code/SampleControls/bin
/Code/SampleControls/obj
/Code/SampleForms/bin
/Code/SampleForms/obj
*.user
/Code/SampleControls/*.user
/Code/SampleForms/*.user
/Code/Sandcastle/*.log
/Code/PropertyGridHelpers.DocStub/bin
/Code/PropertyGridHelpers.DocStub/obj
/docs-md