<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Exclude>
            <!-- Exclude assemblies by name -->
            <ModulePaths>
              <ModulePath>.*WinRT.SourceGenerator.*</ModulePath>
              <ModulePath>.*GeneratedCode.*</ModulePath>
            </ModulePaths>

            <!-- Exclude specific files by path -->
            <SourceFiles>
              <SourceFile>.*\\obj\\.*</SourceFile>
              <SourceFile>.*WinRTCCWVtable.*</SourceFile>
            </SourceFiles>

            <!-- Exclude code marked with specific attributes -->
            <Attributes>
              <Attribute>System.CodeDom.Compiler.GeneratedCodeAttribute</Attribute>
              <Attribute>GeneratedCodeAttribute</Attribute>
            </Attributes>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
